{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="" id="my_element"></div>
<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="row">
                  
                    <div class="col-md-6">
                        <img src="{{ blogs.blog_pic.cdn_url }}-/crop/600x600/center/-/quality/lightest/" class="card-img-top" alt="">
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="" class="form-label">Blog Name</label>
                            <input type="text" class="form-control" value="{{ blogs.name }}" >
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Blog Description</label>
                            <input type="text" class="form-control" value="{{ blogs.description }}">
                            <!-- <textarea class="form-control" value="{{ blogs.description.value }}" name="description" rows="3"></textarea> -->
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  
                </div> 
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}